<div>
    <h1>Productos</h1>
    {{#if existProducts}}
    <h2>Lista de productos</h2>
    {{#each products}}
    <div>
        <ul>
            <li>
                <strong>ID: </strong>{{id}}
                <strong>Titulo:</strong>{{tittle}}
                <strong>Descripcion: </strong>{{description}}
                <strong>Codigo: </strong>{{code}}
                <strong>Precio: </strong>{{price}}
                <strong>Estado: </strong>{{status}}
                <strong>Stock: </strong>{{stock}}
                <strong>Categoria: </strong>{{category}}
                <strong>Imagenes: </strong>{{thumbnail}}
            </li>
        </ul>
    </div>
    {{/each}}
    {{else}}
    <h2>Aun no hay productos</h2>
    {{/if}}
</div>